body {
  font-family: 'VT323', monospace;
}
#sheep {
    width: 100px;
    height: 100px;
  }
#mySheep{
  top: 150px !important;
}
#myContainer {
    width: 1000px;
    height: 500px;
    position: relative;
    margin-left: 200px;
    background-image: url(./assets/field.jpg);
    background-size: cover;
  }

#typingback {
  background-color: white;
  /* opacity: 50%; */
  padding-left: 370px;
  margin-left: 200px;
  margin-right: 260px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#current-word {
  padding-top: 50px; 
  font-size: 20px;
}